body {
    color: aliceblue;
    text-align: center;
    background: lightblue;
}

p {
    text-shadow: 5px 5px 5px black;
    color: white;
    font-size: 4em;
}

table {
    margin: auto;
    border: solid;
    font-size: 2em;
    text-align: center;
    padding-inline: 5px;
    text-shadow: 5px 5px 5px black;
}

h1{
    font-size: xxx-large;
}